@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar {
  width: 0;
}

.countdown > *:before {
  transition: all 1s ease;
}

.selectOptions::-webkit-scrollbar {
  width: 4px;
}

.selectOptions::-webkit-scrollbar-thumb {
  background: #661ae6;
  border-radius: 2px;
}

.selectOptions::-webkit-scrollbar-track {
  background: transparent;
}

.tooltip:hover::before {
  transition-delay: 0.75s;
}

.tooltip:hover::after {
  transition-delay: 0.75s;
}
